body{
  background: #edf0f0;
}
.container{
  max-width: 400px;
}
input[type=text],
input[type=text]:focus{
  color: #fff;
  border: none;
  background: #84def7;
  max-width: 400px;
}
.todos li{
  background: #3bcdf6;
  color:white;
  font-size:large
}
.delete{
  cursor:pointer;
}

.filtered {
  display: none !important;
}